.bagcollor{
  height:100vh;
  background-image: url("https://media.istockphoto.com/id/1160569491/es/foto/reloj-de-bolsillo-viejo-sobre-fondo-oscuro.jpg?s=612x612&w=0&k=20&c=yxUhPV5XJG9zRGQZlzHckDehHED75HZEZY2q1TTqF-E=");
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
}